<!DOCTYPE html>
<html>
<style>
  a.ex:link,
  a.ex:visited {
    background-color: #fcfcfc;
    color: rgb(0, 0, 0);
    padding: 14px 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a.ex:hover,
  a.ex:active {
    background-color: rgb(100, 100, 100);
  }
</style>

{% block js %}
<script>
  function delete_cookie(name) {
    document.cookie = name + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
  }

  function logout() {
    delete_cookie('token');
    document.location = '/';
  }
</script>
{% endblock %}

<head>
  <title>Online forum</title>
  <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
  <div class="alert_message" align="center">
    {% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
</head>

<body>
  <h1 style="margin-top:25px">Online forum</h1>
  {% if current_user %}
  <h3>{{current_user.username}}</h3>
  <ul>
    <li><a href="/" onclick="logout()">Logout</a></li>
    <li><a href="/my_subjects">My subjects</a></li>
  </ul>
  {% else %}
  <ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
  </ul>
  {% endif %}
  <br>
  {% for subject in subjects %}
  <div>
    <a class="ex" href='/{{subject.id}}'>{{subject.name}}<br><p>{{subject.timestamp}}</p></a>
  </div>
  {% endfor %}
</body>
{% endblock %}

</html>