<!DOCTYPE html>
<html>

{% block js %}
<script>
  function delete_cookie(name) {
    document.cookie = name + "=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
  }

  function logout() {
    delete_cookie('token');
    document.location = '/';
  }
</script>
{% endblock %}

<head>
  <title>Online forum</title>
  <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
  <div class="alert_message" align="center">
    {% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
</head>

<body>
  <h1 style="margin-top:25px">Online forum</h1>
  {% if current_user %}
  <h3>{{current_user.username}}</h3>
  <ul>
    <li><a href="/" onclick="logout()">Logout</a></li>
    <li><a href="/my_subjects">My subjects</a></li>
  </ul>
  {% else %}
  <ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Register</a></li>
  </ul>
  {% endif %}
</body>
{% endblock %}

</html>