<!DOCTYPE html>
<html>

<head>
  <title>Edit subject</title>
  <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
  <div class="alert_message" align="center">
    {% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
</head>

<body>
  <div align='Center'>
    <h1 style="margin-top:25px">Edit post {{post.name}}</h1>
    {% if current_user %}
        <h3>{{current_user.username}}</h3>
    {% endif %}
    <form method="POST" enctype=multipart/form-data>
      <label name="name">New name:</label>
      <input type="text" name="name" autofocus />
      <br>
      <br>
      <button type="submit">Edit</button>
    </form>
  </div>
</body>
{% endblock %}

</html>