<!DOCTYPE html>
<html>

{% block js %}
<script>
  function login() {
    console.log('test');
    var username = document.getElementById('username').value;
    var password = document.getElementById('password').value;

    var request = new XMLHttpRequest();
    request.open("POST", "/login", true);
    request.onload = function () {
      var token = JSON.parse(request.responseText).token;
      if (token != null) {
        document.cookie = 'token=' + token + ';';
        document.location = '/';
      } else {
        alert('Could not login');
      }

    }
    request.send(JSON.stringify(
      {
        username: username,
        password: password
      }
    ));
  }
</script>
{% endblock %}

{% block content %}

<head>
  <title>Login</title>
  <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
</head>

<body>
  <div align='Center'>
    <form>
      <h1 style="margin-top:25px">Login</h1>
      <label name="username">Username:</label>
      <input type="text" name="username" id="username" autofocus />
      <br>
      <br>
      <label name="password">Password:</label>
      <input type="password" name="password" id="password" />
      <br>
      <br>
      <button type="button" onclick="login()">Login</button>
    </form>
  </div>

</body>

{% endblock %}

</html>