<style>
body{
    background-color: rgba(236, 253, 1, 0.685);
    }
</style>

{% block js %}
<script>
  function login() {
    console.log('test');
    var username = document.getElementById('username').value;
    var password = document.getElementById('password').value;

    var request = new XMLHttpRequest();
    request.open("POST", "/login", true);
    request.onload = function() {
      var token = JSON.parse(request.responseText).token;
      if (token != null) {
        document.cookie = 'token=' + token + ';';
        document.location = '/';
      } else {
        alert('Could not login');
      }

    }
    request.send(JSON.stringify(
      {
        username: username,
        password: password
      }
    ));
  }
</script>
{% endblock %}

{% block content %}
<title >Login</title>
<!--<body>
    <div align='Center'>
        <h1>Login</h1>
        <input type="text" name="Username">
        <br>
        <br>
        <input type="password" name="Password">
        <br>
        <br>
        <button type="button">Login</button>
    </div>
</body> -->

<div align='Center'>
    <form>
        <h1>Login</h1>
        <label name="username">Username:</label>
        <input type="text" name="username" id="username"/>
        <br><br>
        <label name="password">Password:</label>
        <input type="password" name="password" id="password"/><br>
        <br>
        <button type="button" onclick="login()">Login</button>
    </form>
</div>
  {% endblock %}