<body>
    <!DOCTYPE html>
<html>

<head>
  <title>My subject</title>
  <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
  <div class="alert_message" align="center">
    {% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
</head>

<body>
  <h1 style="margin-top:25px">My posts</h1>
  <ul>
    <li><a href="/my_subjects/{{subject_id}}/my_posts/add_post">Add new post</a></li>
  </ul>
  <div>
    {% for post in posts %}
    <div "margin: auto">
      <a href='/my_subjects/{{subject_id}}/my_posts/{{post.id}}'>{{post.name}}</a>
    </div>
    {% endfor %}
  </div>
</body>
{% endblock %}

</html>
</body>