<!DOCTYPE html>
<html>
<style>
  a.ex:link,
  a.ex:visited {
    background-color: #fcfcfc;
    color: rgb(0, 0, 0);
    padding: 14px 200px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a.ex:hover,
  a.ex:active {
    background-color: rgb(100, 100, 100);
  }
</style>

<head>
  <title>My subject</title>
  <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
  <div class="alert_message" align="center">
    {% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
</head>

<body>
  <h1 style="margin-top:25px">My posts</h1>
  {% if current_user %}
  <h3>{{current_user.username}}</h3>
  {% endif %}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/my_subjects/{{subject_id}}/my_posts/add_post">Add new post</a></li>
  </ul>
  <div>
    {% for post in posts %}
    <div "margin: auto">
      <a class="ex" href='/my_subjects/{{subject_id}}/my_posts/{{post.id}}'>{{post.name}}<br><p>{{post.timestamp}}</p></a>
    </div>
    {% endfor %}
  </div>
</body>
{% endblock %}

</html>
</body>