<!DOCTYPE html>
<html>

<head>
  <title>Register</title>
  <link href="{{ url_for('static', filename='style.css')}}"rel="stylesheet">
  <div class="alert_message" align="center">
    {% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
  </div>
</head>

<body>
  <div align='Center'>
    <h1 style="margin-top:25px">Register</h1>
    <form method="POST" url="/register" enctype=multipart/form-data>
      <label name="username">Username:</label>
      <input type="text" name="username" autofocus />
      <br>
      <br>
      <label name="password">Password:</label>
      <input type="password" name="password">
      <br>
      <br>
      <button type="submit">Register</button>
    </form>
  </div>
</body>

{% endblock %}

</html>