<style>
  body {
    background-color: rgb(255, 255, 255);
    font-family: 'Courier New';
    text-align: center;
  }

  .alert_messages {
    border-color: orange;
    background-color: palegreen;
    background-size: 5px;
    text-align: center;
    width: 100%;
  }
</style>
<title>Register</title>
<div class="alert_message" align="center">
  {% block content %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <p>{{ message }}</p>
  {% endfor %}
  {% endif %}
  {% endwith %}
</div>
<div align='Center'>
  <h1>Register</h1>
  <br />
  <form method="POST" url="/register" enctype=multipart/form-data>
    <label name="username">Username:</label>
    <input type="text" name="username" /><br>
    <label name="password">Password:</label>
    <input type="password" name="password"><br>
    <br><br>
    <button type="submit">Register</button>
  </form>
</div>
{% endblock %}