<!DOCTYPE html>
<html>

<head>
    <title>Subject</title>
    <link href="{{ url_for('static', filename='style.css')}}"rel="stylesheet">
</head>

<body>
    {% if current_user %}
    <h1 style="margin-top:25px">My subject</h1>
    {% if current_user %}
        <h3>{{current_user.username}}</h3>
    {% endif %}
    <h4>{{subject.name}}</h4>
    <ul>
       <li><a href="/">Home</a></li>
       <li><a href='/my_subjects/{{subject_id}}/edit_subject'>Edit subject</a></li>
       <li><a href='/my_subjects/{{subject_id}}/delete_subject'>Delete subject</a></li>
       <li><a href='/my_subjects/{{subject_id}}/my_posts'>My posts</a></li>
    </ul>
    <h3>All posts</h3>
    {% for post in posts %}
        <div>
            <a href='/{{subject_id}}/{{post.id}}'>{{post.name}}</a>
        </div>
    {% endfor %}
    {% else %}
    <h1 style="margin-top:25px">{{subject.name}}</h1>
    <ul>
        <li><a href="/{{subject_id}}/add_post">Add new post</a></li>
    </ul>
    {% for post in posts %}
        <div>
            <a href='/{{subject_id}}/{{post.id}}'>{{post.name}}</a>
        </div>
    {% endfor %}
    {% endif %}
</body>
</html>